html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 70px;
  margin-bottom: 60px;
}
.navbar-right {
  padding-top: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  height: 60px;
  background-color: #f8f8f8;
}
.maincontent {
  padding-top: 40px;
}
.img-hover:hover {
  opacity: 0.6;
}
.item-container {
  height: 500px;
}
@media (max-width: 992px) {
  .item-container {
    height: 100%;
  }
}
