extend layout
block main
  h2 Our Catalog
  .row
    .catalog
      each item in catalog
        img(class=['img-responsive', 'img-thumbnail'] src='#{item.photoURL}')
        .row
        a(href='/catalog/#{item._id}') #{item.itemName}
          hr


