extend layout
block main
  .items
    each item in items
      img(class=['img-responsive', 'img-thumbnail'] src='#{item.photoURL}')
      h3 #{item.itemName}
      p #{item.description}
      h4 price: $ #{item.price}
      button add to
        span(class='glyphicon glyphicon-shopping-cart')
