extend layout
block main
  .container.maincontent
    .row
      .col-lg-12
        h1.page-header Our Catalog
        .row
        .items.col-md-3.img-portfolio
            each item in items
              img(class=['img-responsive', 'img-hover'] src='#{item.photoURL}')
              a(href='/items/#{item._id}') #{item.itemName}
              p #{item.description}


