extend layout
block main
  .container.maincontent
    .row
      .col-lg-12
        h1.page-header Our Catalog
        .row
          .items
            each item in items
              .col-md-3.item-container
                img(class=['img-responsive', 'img-hover', 'thumbnail'] src='#{item.photoURL}')
                .caption
                  a(href='/items/#{item._id}') #{item.itemName}
                  p #{item.description}



