doctype html
html
  head
    title Welcome to Nozama.com
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name='description', content='buy plants and healthy food online')
    meta(name='author', content='Group McCarthy, WDI-07 General Assembly')
    link(rel='icon', href='/assets/favicon.ico')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='scripts/ajax-create-user.js')
    script(src='scripts/ajax-update-user.js')
  body

      include navbar.jade
    .container
      block main

    .footer
      .container
        p.text-muted Copyright McCarthy Group &copy; 2015 | General Assembly Web Development Immersive |&nbsp;
          a(href='https://github.com/tuskerette/nozama-backend') View on Github
