.form
  h1 Update my account
  form(name="update-user")
      p First Name:
      input(type="text", name="firstName")
      p Last Name:
      input(type="text", name="lastName")
      p Phone Number:
      input(type="text", name="phoneNumber")
      p Email Address:
      input(type="text", name="emailAddress")
      p Address:
      input(type="text", name="address")
      p Password:
      input(type="text", name="password")
      input(type="submit", value="update my account")
