
script(type="text/javascript").
  $(document).ready(function(){
    $('form[name="new-user"]').on('submit', function(event){
      event.preventDefault();
      var user = {
        First Name: $('input[name="firstName"]').val(),
        Last Name: $('input[name="lastName"]').val(),
        PhoneNumber: $('input[name="phoneNumber"]').val
        Email Address: $('input[name="emailAddress"]').val(),
        Address: $('input[name="address"]').val(),
        Password: $('input[name="password').val()
      };
      $.ajax({
        method: 'POST',
        url: 'http://localhost:3000/api/v1/users',
        data: JSON.stringify(user),
        contentType: "application/json; charset=utf-8"
      }).done(function(response){
        $('.users').append(response);
      })
    });
  });
